* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;  /* wprowadza sie taka wartosc aby bazowa wielkosc czcionki wynosila 10px - ulatwia to przeliczanie wielkosci. jednostki procentowe sa lepiej skalowalne od jednostek px */
    font-family: 'Open Sans', sans-serif;
    color: #302E33;
}